html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E7F2F8;
}

.form-upload{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-upload .checkbox {
  font-weight: 400;
}

.form-upload .form-floating:focus-within {
  z-index: 2;
}

.p-new, h3 {
  font-family: 'Roboto Serif', sans-serif;
  font-size: 1.2rem;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  color: #FFA384;
}

b {
  color:  #FFA384;
}